{% extends "base.html" %}
{% block title %} Activism {% endblock %}

  {% block content %}
   <section class="content content--c3" id="section3">
				<div class="slideshow slideshow--3" data-effect="fx2">
					<div class="slide slide--current"><h2 class="title title--style-3 title--centered">Activism</h2></div>
					<div class="slide"><h2 class="title title--style-3 title--centered">Equality</h2></div>
					<div class="slide"><h2 class="title title--style-3 title--centered">Justice</h2></div>
					<div class="slide"><h2 class="title title--style-3 title--centered">Knowledge</h2></div>
				</div>
				<nav class="actions">
					<button class="btn btn--trigger btn--prev">Previous</button>
					<button class="btn btn--trigger btn--next">Next</button>
				</nav>
			</section><!-- /content -->

  {% endblock %}

