{% extends "base.html" %}
{% block title %} Art | {% endblock %}

  {% block content %}
    <!--<h1>Art</h1> -->
    	<section class="content content--c18" id="section18">
				<div class="slideshow slideshow--18" data-effect="fx18">
					<div class="slide slide--current"><h2 class="title title--style-18 title--centered">Art</h2></div>
					<div class="slide"><h2 class="title title--style-18 title--centered">Kolkata</h2></div>
					<div class="slide"><h2 class="title title--style-18 title--centered">Bangkok</h2></div>
					<div class="slide"><h2 class="title title--style-18 title--centered">Odessa</h2></div>
					<div class="slide"><h2 class="title title--style-18 title--centered">Guangzhou</h2></div>
					<div class="slide"><h2 class="title title--style-18 title--centered">Mumbai</h2></div>
					<div class="slide"><h2 class="title title--style-18 title--centered">New Orleans</h2></div>
					<div class="slide"><h2 class="title title--style-18 title--centered">Amsterdam</h2></div>
					<div class="slide"><h2 class="title title--style-18 title--centered">Venice</h2></div>
					<div class="slide"><h2 class="title title--style-18 title--centered">Miami</h2></div>
					<div class="slide"><h2 class="title title--style-18 title--centered">New York</h2></div>
				</div>
				<nav class="actions">
					<button class="btn btn--trigger">Previous</button>
					<button class="btn btn--trigger">Next</button>
				</nav>
			</section>--><!-- /content -->

  {% endblock %}

