<html lang="en">
    <head>
        <title>{% block title %}{% endblock %} Stay Woke !</title>
        <meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Stay Woke !</title>
		<meta name="description" content="An inspirational social media site for black millineals" />
		<meta name="keywords" content="black, woke, culture, black magic, buy black, buy black" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="favicon.ico">
		<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Arapey|Archivo+Black|Elsie+Swash+Caps|Playfair+Display|Anton|Rubik|Teko:600|Sacramento|Abril+Fatface|Cormorant+Garamond|Neucha|Unica+One|Old+Standard+TT" rel="stylesheet">
			<!-- Latest compiled and minified JavaScript -->
		{% block css %}
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='decolines.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='normalize.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='demo.css') }} " />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='lettereffect.css') }} " />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='pater.css') }}" />
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<!--[if IE]>
  		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<script>document.documentElement.className = 'js';</script>
        {% endblock %}
    </head>
  <body>
    {% include 'nav.html' %}
    {% block content %}{% endblock %}
    {% include 'footer.html' %}
    <script type="text/javascript" src="{{ url_for('static',filename='charming.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='anime.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='lineMaker.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='imagesloaded.pkgd.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='textfx.js') }}"></script>
    {% block js %}{% endblock %}

    </body>
</html>