{% extends "base.html" %}
{% block title %} Buy Black {% endblock %}

  {% block content %}
    	<section class="content content--c15" id="section2">
				<div class="slideshow slideshow--1" data-effect="fx1">
					<div class="slide slide--current"><h2 class="title title--style-1">Buy Black</h2></div>
					<div class="slide"><h2 class="title title--style-1"> Our Businesses</h2></div>
					<div class="slide"><h2 class="title title--style-1">Empowerment</h2></div>
				</div>

				<nav class="actions">
					<button class="btn btn--trigger btn--prev">Previous</button>
					<button class="btn btn--trigger btn--next">Next</button>
				</nav>
			</section>

  {% endblock %}

