{% extends "base.html" %}
{% block title %} Love {% endblock %}

  {% block content %}
   	<section class="content content--c5" id="section5">
				<div class="slideshow slideshow--5" data-effect="fx5">
					<div class="slide slide--current"><h2 class="title title--style-5">Love</h2></div>
					<div class="slide"><h2 class="title title--style-5">Dating</h2></div>
					<div class="slide"><h2 class="title title--style-5">Marriage</h2></div>
					<div class="slide"><h2 class="title title--style-5">Family</h2></div>
					<div class="slide"><h2 class="title title--style-5">Happiness</h2></div>
				</div>
				<nav class="actions">
					<button class="btn btn--trigger btn--prev">Previous</button>
					<button class="btn btn--trigger btn--next">Next</button>
				</nav>
			</section><!-- /content -->

  {% endblock %}

